.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: white;
    border-radius: 0.5rem;
    padding: 2rem;


    width: 90vw;
    max-width: 600px;
    

    overflow-y: auto;
    border: 1px solid #bbb;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    position: relative;
}

.modalHeader{
    align-self: end;
    justify-self: start;
    margin-bottom: 1rem;
}

.wrapper{
    width: 100%;
    display: flex;
}

.details{
    padding-left: 1rem;
}

@media screen and (max-width: 576px) {

    .wrapper {
        flex-direction: column;
        align-items: center;
        
    }

    .details{
        padding-left: 0;
    }

}
.loading {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    /* animated shimmer background */
    background: linear-gradient(100deg,
            #cccccc 0%,
            #dddddd 20%,
            #cccccc 40%,
            #cccccc 100%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;

    /* slight blur over the whole thing */
    filter: blur(1px);
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.closeButton {
    color: #fff;
    border: none;
    background-color: rgba(255, 0, 0, 0.848);
    padding: .5rem;
    border-radius: .275rem;
    transition: all 200ms;
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 94, 0, 0.848);
    }
}